<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/mydsl/Go"
			class = "org.xtext.example.mydsl.go.GoPackage"
			genModel = "model/generated/Go.genmodel" />
	</extension>
</plugin>
